## emp500_s1_merge_sample_info.ipynb

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [3]:
path_sample_info_manual = '/Users/luke.thompson/emp/500-metadata/input-sample-prep-info/emp500_sample_information_manual.xlsx'
path_prep_info_general_prepandas = '/Users/luke.thompson/emp/500-metadata/input-sample-prep-info/emp500_prep_information_general_prepandas.xlsx'

In [4]:
df_samp = pd.read_excel(path_sample_info_manual)
df_prep = pd.read_excel(path_prep_info_general_prepandas)

In [5]:
df0 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/0-controls/controls_76_samples.xlsx', skiprows=[1,2])
df1 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/1-Kshtrika-oil/Kshtrika1_misc_environment_11_samples.xlsx', skiprows=[1,2])
df2 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/2-Berry-sediment/Berry2_sediment_20_samples.xlsx', skiprows=[1,2])
df3 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/3-MacRae-Crerar-soil/MacRae_soil_12_samples.xlsx', skiprows=[1,2])
df5 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/5-Myrold-soil/Myrold5_soil_12_samples.xlsx', skiprows=[1,2])
df9 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/9-Zaneveld-coral/Zaneveld9_coral_20_samples.xlsx')
df18 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/18-Thomas-sponge/Thomas18_sponge_54_samples.xlsx', skiprows=[1,2])
df19 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/19-Thomas-algae/Thomas19_algae_64_samples.xlsx', skiprows=[1,2])
df21 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/21-McMahon-bioreactor/McMahon21_bioreactor_17_samples.xlsx', skiprows=[1,2])
df23 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/23-Shade-soil/Shade23_soil_10_samples.xlsx', skiprows=[1,2])
df26 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/26-Stewart-water/Stewart26_water_8_samples.xlsx', skiprows=[1,2])
df27 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/27-King-soil/King27_soil_21_samples.xlsx', skiprows=[1,2])
df33 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/33-Mayer-playa-sediment/Mayer33_sediment_7_samples.xlsx', skiprows=[1,2])
df34 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/34-Mayer-sediment/Mayer34_sediment_10_samples.xlsx', skiprows=[1,2])
df36 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/36-Stegen-permafrost/Stegen36_soil_15_samples.xlsx', skiprows=[1,2])
df37 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/37-Stegen-sediment/Stegen37_sediment_10_samples.xlsx', skiprows=[1,2])
df38 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/38-Stegen-soil/Stegen38_soil_18_samples.xlsx', skiprows=[1,2])
df39 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/39-Smith-algae/Smith39_plant_associated_8_samples.xlsx', skiprows=[1,2])
df40 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/40-Metcalf-soil/Metcalf40_soil_14_samples.xlsx', skiprows=[1,2])
df42 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/42-Palenik-water/Palenik42_water_20_samples.xlsx', skiprows=[1,2])
df43 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/43-Jensen-sediment/Jensen43_sediment_43_samples.xlsx', skiprows=[1,2])
df45 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/45-Roy-Chowdhury-soil/RoyChowdhury45_soil_24_samples.xlsx', skiprows=[1,2])
df46 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/46-Makhalanyane-gravel-soil/Makhalanyane46_soil_10_samples.xlsx', skiprows=[1,2])
df47 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/47-Makhalanyane-dune-sand/Makhalanyane47_soil_9_samples.xlsx', skiprows=[1,2])
df50 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/50-Girguis-fecal/Girguis50_host_associated_12_samples.xlsx', skiprows=[1,2])
df51 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/51-Song-terrestrial-fecal/Song51_host_associated_20_samples.xlsx', skiprows=[1,2])
df52 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/52-Song-herps-fecal/Song52_host_associated_15_samples.xlsx', skiprows=[1,2])
df53 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/53-Song-bird-fecal/Song53_host_associated_15_samples.xlsx', skiprows=[1,2])
df54 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/54-Sandin-fecal/Sandin54_host_associated_15_samples.xlsx', skiprows=[1,2])
df56 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/56-Schmidt-soil/Schmidt56_soil_26_samples.xlsx', skiprows=[1,2])
df58 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/58-Tucker-coal/Tucker58_miscellaneous_16_samples.xlsx', skiprows=[1,2])
df59 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/59-Myrold-oregon-soil/Myrold59_soil_22_samples.xlsx', skiprows=[1,2])
df62 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/62-Pinto-soil/Pinto62_soil_24_samples.xlsx', skiprows=[1,2])
df63 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/63-Pinto-insect-nest/Pinto63_host_associated_28_samples.xlsx', skiprows=[1,2])
df65 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/65-Angenent-bioreactor/Angenent65_misc_environment_9_samples.xlsx', skiprows=[1,2])
df68 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/68-Bittleston-plant/Bittleston68_plant_associated_15_samples.xlsx', skiprows=[1,2])
df71 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/71-Seedorf-soil/Seedorf71_soil_14_samples.xlsx', skiprows=[1,2])
df72 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/72-Distel-gut/Distel72_host_associated_24_samples.xlsx', skiprows=[1,2])
df74 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/74-Bowen-sediment/Bowen74_sediment_16_samples.xlsx', skiprows=[1,2])
df75 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/75-Song-aquatic-fecal/Song75_host_associated_4_samples.xlsx', skiprows=[1,2])
df76 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/76-Minich-fecal/Minich76_manure_6_samples.xlsx', skiprows=[1,2])
df77 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/77-Tait-water/Tait77_water_9_samples.xlsx', skiprows=[1,2])
df78 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/78-Tait-sediment/Tait78_sediment_3_samples.xlsx', skiprows=[1,2])
df81 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/81-Metcalf-skin/Metcalf81_skin_3_samples.xlsx', skiprows=[1,2])
df82 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/82-Uren-lichen/Uren82_plant_associated_21_samples.xlsx', skiprows=[1,2])
df84 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/84-85-86-87-Rohwer-misc/Rohwer84_soil_15_samples.xlsx', skiprows=[1,2])
df85 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/84-85-86-87-Rohwer-misc/Rohwer85_sediment_27_samples.xlsx', skiprows=[1,2])
df86 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/84-85-86-87-Rohwer-misc/Rohwer86_sediment_3_samples.xlsx', skiprows=[1,2])
df88 = pd.read_excel('/Users/luke.thompson/emp/500-metadata-studies/88-Mousseau-fecal/Mousseau88_host_associated_112_samples.xlsx', skiprows=[1,2])

In [6]:
dfs = [df0, df1, df2, df3, df5, df9, df18, df19, df21, df23, df26, df27,
       df33, df34, df36, df37, df38, df39, df40, df42, df43, df45, df46, 
       df47, df50, df51, df52, df53, df54, df56, df58, df59, df62, df63, 
       df65, df68, df71, df72, df74, df75, df76, df77, df78, df81, df82, 
       df84, df85, df86, df88]

In [7]:
len(dfs)

49

#### Metadata columns per study

In [8]:
metadata_cols = pd.DataFrame(columns=['metadata_columns'])
for df in dfs:
    emp500_study_id = df_samp[df_samp['#SampleID'] == df.sample_name[0]]['emp500_study_id'].values[0]
    columns = df.columns[2:]
    columns = columns.drop('tier', errors='ignore').append(pd.Index(['tier']))
    metadata_cols.loc[emp500_study_id] = ', '.join(columns)

In [9]:
metadata_cols.to_csv('/Users/luke/emp/500-counts/emp500_metadata_per_study.csv', index_label='emp500_study_id')

#### Merge DataFrames

In [10]:
# concatenate studies (df_merged)
df_merged = pd.concat(dfs, ignore_index=True, sort=True)
# move the tier column to head of list using index, pop, and insert, then ix to reorder
cols = list(df_merged)
cols.insert(0, cols.pop(cols.index('tier')))
df_merged = df_merged.loc[:, cols]
# merge df_merged with general sample info (df_samp)
df_merged2 = pd.merge(df_samp, df_merged, left_on='#SampleID', right_on='sample_name')
df_merged2.fillna('Not applicable', inplace=True)
# drop or rename columns
df_merged2.index = df_merged2['#SampleID']
drop_cols = ['#SampleID',
             '16S_sequencing_requested', 
             '18S_sequencing_requested',
             'altitude.1',
             'colony_heightm',
             'depth.1',
             'elevation.1',
             'env_package',
             'host_family_relationships',
             'host_subject_id.1',
             'index',
             'its2_symbiodinium_sequencing_requested',
             'pool_dna_extracts',
             'project_name.1',
             'sample_name']
df_merged2.index.names = ['sample_name']
df_merged2.drop(drop_cols, axis=1, inplace=True)

In [11]:
df_merged2.drop_duplicates().to_csv('/Users/luke.thompson/emp/500-metadata/output-mapping-prep-info/emp500_sample_information.tsv', 
                  sep='\t', index=True)

In [12]:
df_basic = pd.merge(df_samp, df_prep, how='outer', left_on='sample_name_plus_plate', right_on='SampleID')

#### Full mapping file

In [13]:
drop_cols = ['SampleID', 'plate_no_pcr1', 'well_no_pcr1', 'well_id_pcr1', 
             'well_row_pcr1', 'well_column_pcr1', 'plating_person',
             'dna_kit_name', 'extraction_kit_lot', 'extraction_robot', 'mass_mg',
             'plated_date', 'dna_date', 'dna_person', 'dna_yield_method',
             'dna_conc_mean', 'dna_conc_stdev', 'dna_conc_cv']

In [14]:
df_full = pd.merge(df_basic, df_merged2.iloc[:, 13:], how='outer', 
                   left_on='#SampleID', right_index=True)
df_full.drop(drop_cols, axis=1, inplace=True)

In [15]:
df_full.drop_duplicates().to_csv('/Users/luke.thompson/emp/500-metadata/output-mapping-prep-info/emp500_full_map.tsv', 
                sep='\t', index=False)

In [16]:
# manually add prep information for Pinto62 (left out of prepandas file)
df_full.loc[df_full.emp500_study_id == 62, 'physical_specimen_institution'] = 'PNNL'

#### Basic mapping file

In [17]:
# get columns where most common value is not "Not applicable"
basic_cols_alt = [x for x in df_full.columns if (df_full[x].value_counts().index[0] != 'Not applicable')] \
    + ['latitude', 'longitude', 'elevation']

In [18]:
# basic cols to match emp500_data_per_sample_summed_with_metadata.csv plus sample name alternatives
basic_cols = ['#SampleID', 'emp500_study_id', 'emp500_title', 'emp500_principal_investigator', 'tier', 
              'barcode_prefix', 'study_sample_number', 'sample_name_plus_plate', 'metab_id_2017', 
              'sampling_materials', 'sampling_method', 'environmental_package', 'physical_specimen_institution',
              'env_biome', 'env_feature', 'env_material', 'empo_1', 'empo_2', 'empo_3',
              'sample_type', 'taxon_id', 'scientific_name', 'host_taxid', 'host_common_name',
              'host_scientific_name', 'geo_loc_name', 'latitude', 'longitude', 'elevation']

In [19]:
df_basic2 = df_full[basic_cols]

In [20]:
df_basic2.drop_duplicates().to_csv('/Users/luke.thompson/emp/500-metadata/output-mapping-prep-info/emp500_basic_map.tsv',
                                  sep='\t', index=False)

#### Quality check

In [21]:
# sample IDs in individual mapping files but not in list of samples sequenced (df_samp & df_merged2 give same results)
# these are mostly/all Tier 2 samples
set(df_merged['sample_name']) - set(df_merged2.index)

{'Distel72.BS.3.Gill',
 'Distel72.BS.3.Siphon',
 'Distel72.BS.3.VM',
 'Distel72.BS.4.Gill',
 'Distel72.BS.4.Siphon',
 'Distel72.BS.4.VM',
 'Distel72.BS.5.Gill',
 'Distel72.BS.5.Siphon',
 'Distel72.BS.5.VM',
 'Jensen43.AZ10.166',
 'Jensen43.AZ10.397',
 'Jensen43.AZ10.413',
 'Jensen43.BA10.308',
 'Jensen43.BA10.311',
 'Jensen43.BA10.494',
 'Jensen43.BZ15.03',
 'Jensen43.BZ15.18',
 'Jensen43.BZ15.21',
 'Jensen43.MCO300.25.1',
 'Jensen43.MCO300.25.3',
 'Jensen43.MCO300.25.4',
 'Jensen43.MCO700.35.1',
 'Jensen43.MCO700.35.2',
 'Jensen43.MCO700.35.3',
 'Jensen43.MCO700.35.4',
 'Jensen43.MX12.202',
 'Jensen43.MX12.248',
 'Jensen43.NM11.403',
 'Jensen43.NM11.561',
 'Jensen43.NM11.692',
 'Jensen43.PL04.242',
 'Jensen43.PL04.316',
 'Jensen43.PL04.329',
 'Uren82.plant.associated.13',
 'Uren82.plant.associated.14',
 'Uren82.plant.associated.15',
 'Uren82.plant.associated.16',
 'Uren82.plant.associated.17',
 'Uren82.plant.associated.18',
 'Uren82.plant.associated.19',
 'Uren82.plant.associated.20',
 'Uren82.plant.associated.21'}

In [22]:
# sample IDs in list of samples sequenced but not in individual mapping files (this set will be zero when finished)
set(df_samp['#SampleID']) - set(df_merged2.index)

set()